{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Renault-TCM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!--    <meta http-equiv="refresh" content="5 url="">   -->

        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="{% static  'assets/plugins/morris/morris.css">

        <!-- App css -->
        <link href="{% static  'assets/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static  'assets/css/icons.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static  'assets/css/style.css'%}" rel="stylesheet" type="text/css" />

        <script src="{% static 'assets/js/modernizr.min.js'%}"></script>

        <script type="text/javascript">


            /* JS comes here */
        function runSpeechRecognition() {
            // get output div reference
            var output = document.getElementById("output");
            // get action element reference
            var action = document.getElementById("action");
                // new speech recognition object
                var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
                var recognition = new SpeechRecognition();
            
                // This runs when the speech recognition service starts
                recognition.onstart = function() {
                    action.innerHTML = "<small>Escutando, pode falar...</small>";
                };
                
                recognition.onspeechend = function() {
                    action.innerHTML = "<small>Parei de lhe escutar...</small>";
                    recognition.stop();
                }
              
                // This runs when the speech recognition service returns result
                recognition.onresult = function(event) {
                    var transcript = event.results[0][0].transcript;
                    var confidence = event.results[0][0].confidence;
                    //output.innerHTML = "<b>Medida:</b> " + transcript + "<br/> <b>Confidence:</b> " + confidence*100+"%";
                    output.innerHTML ='<form action="" method="POST">{% csrf_token %}<label for="name">' + transcript + '</label><input class="form-control" type="hidden" name="celula" value="' + transcript + '"><input class="form-control" type="hidden" name="THIS" value="{{measure.id}}"><input type="hidden" name="ORIGIN" value="partner"/><button class="btn btn-primary btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">Salvar dados</button></form>';
                    output.classList.remove("hide");
                };
              
                 // start recognition
                 recognition.start();
          }

        

        </script>



        <style>

        

        </style>

    </head>

    <body>

            <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main">
                <div class="container-fluid">

                    <!-- Logo container-->
                    <div class="logo">
                        <!-- Text Logo -->
                        <!--<a href="index.html" class="logo">-->
                            <!--<span class="logo-small"><i class="mdi mdi-radar"></i></span>-->
                            <!--<span class="logo-large"><i class="mdi mdi-radar"></i> Adminto</span>-->
                        <!--</a>-->
                        <!-- Image Logo -->
                        <a href="/" class="logo">
                            <img src="{% static 'assets/images/renault_logo.png'%}" alt="" height="35" class="logo-small">
                            <img src="{% static 'assets/images/renault_logo.png'%}" alt="" height="50" class="logo-large">
                        </a>
                        

                    </div>
                    <!-- End Logo container-->


                    <div class="menu-extras topbar-custom">

                        <ul class="list-unstyled topbar-right-menu float-right mb-0">

                            <li class="menu-item">
                                <!-- Mobile menu toggle-->
                                <a class="navbar-toggle nav-link">
                                    <div class="lines">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                <!-- End mobile menu toggle-->
                            </li>                             

                        </ul>


                    </div>
                    <!-- end menu-extras -->

                    <div class="clearfix"></div>

                </div> <!-- end container -->
            </div>
            <!-- end topbar-main -->



            
        </header>



        <div class="wrapper">
            <div class="container-fluid">
                <H4><a href="/">HOME </a>/<a href="/project" class="logo"> PROJETOS</a></H4>
                
                  <div class="row">
                    <div class="col-sm-12">                        
                        <h4 class="page-title">Projeto: {{measure.projectlabel}} - Setor: {{measure.sectionlabel}}</h4>
                    </div>
                  </div>
                

                  {% if realized%}
    
                  <div class="card text-center">
                      <div class="card-header">
                        <h3>Medições Finalizadas<h3>
                      </div>
                      <div class="card-body">
                        <h3 class="card-title">Todos os pontos desta seção do projeto foram medidos.</h3>
                        <p class="card-text">Exporte os dados de medição e para realizar as medições novamente, limpe os dados.</p>
                
                      </div>
                  </div>
                  <br>


                  {% else %}

                  <div class="row">
                    <div class="col-sm-12">
                        <div class="card m-b-20">
                    
                        <img class="card-img-top img-fluid" src="{% static 'assets/images/'%}{{measure.projectlabel}}{{measure.sectionlabel}}{{measure.number_point|floatformat:"0"}}.JPG" alt="Card image cap">

                          <div class="card-body">
                            <h3 class="card-title text-center">Ponto {{measure.number_point|floatformat:"0"}}: {{measure.label_point}}</h3>
                            <p class="card-text"></p>
                            <div class="text-center">
                                <h1 class="display-3 text-warning" data-plugin="counterup"><div id="output" class="hide"></div></h1>
                            </div>

        <p><button class="btn btn-primary btn-custom btn-bordred btn-block waves-effect waves-light" type="button" onclick="runSpeechRecognition()">Aperte para falar</button> &nbsp; <h1><span id="action"></span></h1></p>
        <div id="output" class="hide"></div>



                          </div>
                        </div>
                    </div>
                  </div>
                  {% endif %}


                  <div class="row">
                    <div class="col-sm-12">
                      <div class="card-box">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th >#</th>
                                <th>Ponto</th>
                                <th>Célula</th>
                                <th>Medição</th>                                    
                            </tr>
                            </thead>
                            {% for el in tabela%}
                            <tbody>
                            <tr>
                                <th scope="row">{{ el.number_point|floatformat:"0" }}</th>
                                <td>
                                    <form action="" method="POST">
                                      {% csrf_token %}                                                              
                                      <input type="hidden" name="ORIGIN" value="point"/> 
                                      <button type="submit" name="PONTO" value="{{el.id}}" class="btn btn-primary btn-block">{{el.label_point}}</button>   
                                    </form>
                                </td>
                                <td>{{el.cell}}</td>

                                {% if el.value_measure == None %}
                                 <td>Aguardando</td>
                                {% else %}
                                 <td>{{el.value_measure}}</td>
                                {% endif %}                                  
                            </tr>                           
                            </tbody>
                            {% endfor %}
                        </table>


                        <br>

                <div class="row">
                    <div class="col-xl-6 col-md-12">
                        <a href="/export_csv/{{id}}"><button  class="btn btn-primary btn-custom btn-bordred btn-block waves-effect waves-light">Exportar CSV</button></a>
                    </div><br><br>
                
                    <div class="col-xl-6 col-md-12">

                        <button type="button" class="btn btn-secondary btn-bordred btn-block waves-effect waves-light" data-toggle="modal" data-target="#exampleModalCenter">
                          Limpar dados de medição
                        </button>

                                
                    </div>
                </div>

                <!-- Button trigger modal -->




                      </div>
                    </div>
                  </div>
            </div>
          </div>



                    <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Limpar Dados de Medição</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h3>Você está prestes a excluir todos os dados de medição. Deseja realmente excluir?</h3>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar exclusão</button>
                    <form action="" method="POST">
                        {% csrf_token %}                                    
                                                      
                        <input type="hidden" name="ORIGIN" value="delet"/>
                        
                        <button type="submit" class="btn btn-danger btn-custom btn-bordred btn-block waves-effect waves-light">Excluir dados</button> 
                        
                    </form>
                  </div>
                </div>
              </div>
            </div>

          
              
        <!-- jQuery  -->
        <script src="{% static 'assets/js/jquery.min.js'%}"></script>
        <script src="{% static 'assets/js/popper.min.js'%}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
        <script src="{% static 'assets/js/waves.js'%}"></script>
        <script src="{% static 'assets/js/jquery.slimscroll.js'%}"></script>

        <!-- KNOB JS -->
        <!--[if IE]>
        <script type="text/javascript" src="assets/plugins/jquery-knob/excanvas.js"></script>
        <![endif]-->
        <script src="{% static 'assets/plugins/jquery-knob/jquery.knob.js'%}"></script>

        <!--Morris Chart-->
        <script src="{% static 'assets/plugins/morris/morris.min.js'%}"></script>
        <script src="{% static 'assets/plugins/raphael/raphael-min.js'%}"></script>

        <!-- Dashboard init -->
        <script src="{% static 'assets/pages/jquery.dashboard.js'%}"></script>


        <!-- App js -->
        <script src="{% static 'assets/js/jquery.core.js'%}"></script>
        <script src="{% static 'assets/js/jquery.app.js'%}"></script>

    </body>
</html>